@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Montserrat:wght@400;800&display=swap');

:root{
    --main: #df6400;
    --white: white;
    --black: black;
    --grey: rgb(53, 53, 53);
    --darkmain: #ac4f02;
}

html{
    font-family: 'Montserrat', sans-serif;
}

html, body{
    margin: 0;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.header{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(104, 104, 104, 0.4)),
                url(../media/pageheader-1920w.webp);
    background-repeat: no-repeat;
    height: 35vh;
    background-size:  cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

@media (min-width: 300px) {
    .header {
        height: 40vh;
    }
    .services__header{
        text-align: center;
    }
    .body__other {
        height: 35vh;
    }
    .other-text {
        padding-top: 0;
    }
    .media {
        display: block;
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }
    .grid-right{
        margin-bottom: 2.5em;
    }
    .grid-left{
        margin-bottom: 2.5em;
    }
    .heading {
        font-size: 1.3em;
        padding-top: 1.5em;
    }
    .header-main {
        font-size: 2em;
        font-weight: bold;
        color: var(--white);
        text-shadow: rgb(0, 0, 0) 1px 0 10px;
    }
    .header-second  {
        font-size: .5em;
        font-weight: 100;
    }
    p {
        padding-top: .4em;
    }
    .btn {
        display: none;
      }
    .services{
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }
    .services__header{
        text-align: left;
    }
    .services__title{
        text-align: left;
        font-weight: bold;
        font-size: 1.5em;
    }
    .services__titles{
        margin-bottom: 0.625em;
    }
    .services p{
        margin-bottom: 0.625em;
    }
    .services__button{
        width: 80px;
        height: 18px;
        padding: 0.625em 1.875em;
        color: var(--darkmain);
        border: dashed;
        border-width: 2px;
        background-color: var(--white);
        text-decoration: none;
        
    }
    .services__button:hover{
        width: 80px;
        height: 20px;
        padding: 0.75em 1.875em;
        color: var(--white);
        border: none;
        background-color: var(--main);
        text-decoration: none;
        
    }
    .service__button{
        margin-top: 0.9375em;
    }
    
    .jumbotron {
        background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%),
        url(../media/background-CTAblock-4460w.jpg);
        background-repeat: no-repeat;
        height: 25vh;
        background-size:  cover;
        background-position: center;
        padding: 0 1em;
        padding-bottom: 1em;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .jumbotron-text {
        color: var(--white);
        font-size: 1em;
        font-weight: 600;
        padding: 2px;
    }
    .jumbotron-content{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0.625em;
    }
    .jumbotron__button {
        background-color: var(--main);
        width: 140px;
        height: 20px;
        border: none;
        color: var(--white);
        padding: 1em 1.875em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 0.875em;
        font-weight: bold;
        margin: 0.25em 0.125em;
        margin-top: 2.5em;
        cursor: pointer;
        text-decoration: none;
    }
    .references__header{
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2em 1em;
        margin-top: 0em;
    }
    .references__title{
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 0.625em;
    }
    .references{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        padding: 2em 1em; 
        font-size: 1.2em;
        display: grid;
    }
    .references__box{
        width: 100%;
        object-fit: cover;
    }

    .references img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .img-references{
        width: 100%;
    }
    .refereces__media{
        margin-top: 3em;
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .footer{
        background-color: var(--main);
        text-align: center;
        padding: 3em 1em;
        color: var(--white);
    }
    .footer__title{
        font-size: 1.5em;
        font-weight: 700;
    }
    .footer__text{
        margin-top: 1em;
    }

    .about{
        margin-left: 5%;
        margin-right: 5%;
    }
    .about-h1{
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .about-ul{
        margin-top: 1em;
        margin-left: 3em;
        margin-bottom: 2em;
    }
    
    ul li::marker{
        font-size: 2em;
        color: var(--main);
    }
    .contact{
        margin-left: 5%;
        margin-right: 5%;
        overflow: hidden;
    }
    .contact__body{
        margin: 0;
    }
    .contact__title{
        font-size: 2em;
        font-weight: 700;
    }
    .contact__method {
        padding-left: 4em;
        position: relative;
        margin: 2em 1em;
        vertical-align: top;
        color: var(--main);
        font-weight: 800;
    }
    .contact__method>a {
        text-decoration: none;
        color: var(--main);
    }
    .contact__method::before {
        display: flex;
        position: absolute;
        left: 0;
        top: -0.625em;
        align-items: center;
        justify-content: center;
        background-color: var(--main);
        border-radius: 100%;
        width: 50px;
        height: 50px;
    }
    .contact__map {
        max-width: 100%;
    }
    .form__label {
        font-weight: 1000;
        margin-top: 2em;
    }
    .form__input, .form__selection {
        border: solid var(--main) 2px;
        height: 3em;
    }
    .form__input, .form__selection, .form__textarea {
        box-sizing: border-box;
        width: 100%;
        margin-top: 0.5em;
        margin-bottom: 2em;
    }
    .form__title{
        margin-top: 1em;
    }
    p{
        margin-bottom: 1em;
    }
    .btn-contact{
        background-color: var(--main);
        width: 100%;
        height: 30px;
        border: none;
        color: var(--white);
        padding: 1.875em 0em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 2em;
        cursor: pointer;
    }
    .gallery {
        text-align: center;
        margin: 3em 1em;
    }
    .gallery__medias {
        display: grid;
        grid-template-columns: repeat(1, minmax(250px, 400px));
        gap: 1em;
        grid-auto-flow: dense;
        justify-content: center;
        height: max-content;
    }
    .gallery__media {
        object-fit: cover;
        width: 100%;
    }
    .grid__1x3 {
        grid-row: span 3;
    }



}

@media (min-width: 800px) {
    .header {
        height: 85vh;
    }
    .body__other {
        height: 35vh;
    }
    .media {
        display: block;
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
    .header-main {
        font-size: 4em;
        font-weight: bold;
        color: white;
        text-shadow: rgb(0, 0, 0) 1px 0 10px;
    }
    .header-second  {
        font-size: .5em;
    }
    .btn {
        background-color: var(--main);
        width: 180px;
        height: 22px;
        border: none;
        color: var(--white);
        padding: 1.125em 2em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.125em;
        font-weight: bold;
        margin: 2.5em 0.125em;
        cursor: pointer;
      }
      .services{
        font-size: 1.2em;
    }
    .services__title{
        font-size: 2em;
    }
    .services__content h2{
        margin-bottom: 0.625em;
    }
    .jumbotron-text {
        font-size: 1.4em;
    }
    .jumbotron-content{
        margin-top: 2.5em;
    }
    .jumbotron__button {
        margin-top: 1.875em;
    }
    .references__title{
        font-size: 2em;
    }
    .references__header{
        font-size: 1.2em;
    }
    .references{
        font-size: 1.5em;
    }
    .footer__title{
        font-size: 2em;
        font-weight: 700;
    }
    .footer__text{
        margin-top: 1.4em;
    }
    .about-h1{
        font-size: 2.2em;
        text-align: center;
        margin-bottom: 1em;
    }
    .about-ul{
        margin-left: 5em;
    }
    .about{
        margin-top: 0em;
    }
    .references__header{
        margin-top: 0em;
    }
    .contact{
        margin-top: 0em;
    }
    .contact__title{
        font-size: 3em;
        text-align: center;
    }
    .contact__text{
        margin-top: -1.5em;
        font-size: 1.5em;
        text-align: center;
    }
    .gallery{
        font-size: 1.5em;
    }
    .gallery__medias {
        grid-template-columns: repeat(2, minmax(250px, 400px));
        grid-auto-rows: minmax(auto, 225px);
    }
    

}

@media (min-width: 1100px) {
    .services__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.3em;
        grid-auto-flow: dense;
    }
    .header {
        height: 97vh;
    }
    .body__other {
        height: 35vh;
    }
    .header-main {
        font-size: 5em;
        font-weight: bold;
        color: var(--white);
        text-shadow: rgb(0, 0, 0) 1px 0 10px;
    }
    .header-second  {
        font-size: .5em;
    }
    .btn {
        width: 200px;
        height: 26px;
        padding: 1.25em 2em;
        text-align: center;
        font-size: 1.25em;
        margin: 0.375em 0.125em;
      }
    .services{
        font-size: 1.2em;
    }
    .services__header{
        text-align: center;
    }
    .services__title{
        text-align: center;
        font-size: 3em;
    }
    .services__content h2{
        margin-bottom: 0.625em;
        font-size: 1.5em;
    }
    .jumbotron {
        height: 40vh;
    }

    .jumbotron-text {
        color: var(--white);
        font-size: 2em;
        font-weight: 600;
    }
    .references__header{
        text-align: center;
    }
    .references__title{
        font-size: 3em;
    }
    .references{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 10%;
        margin-right: 10%;
    }
    .references-overlay{
        display: flex;
        visibility: hidden;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        color: var(--white);
        background: var(--main);
        text-align: center;
        justify-content: center;
        gap: 0.25em;
        pointer-events: none;
        z-index: 999;
        flex-direction: column;
    }
    .references__box{
        position: relative;
    }
    .references a{
        display: inline-block;
    }
    .references__box:hover .references-overlay {
        visibility: visible;
        background: rgba(223, 100, 0, 0.9);
    }
    .about-h1{
        font-size: 2.8em;
    }
    .about-ul{
        margin-left: 6em;
    }
    .about{
        font-size: 1.2em;
    }
    .reference__header{
        display: none;
    }
    .about{
        margin-top: 8em;
    }
    .references__header{
        margin-top: 8em;
    }
    .contact{
        margin-top: 8em;
    }
    .btn-contact{
        width: 360px;
        height: 20px;
        padding: 1.25em 0em;
        display: inline-block;
    }
    .contact__body{
        margin: auto;
        margin-top: 5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        align-items: center;
    }
    .contact__title{
        margin-top: 1em;
    }
    .form__title{
        font-size: 2em;
    }
    .form__text{
        font-size: 1.2em;
    }
    .gallery{
        margin-top: 6em;
        font-size: 2em;
    }

}

@media (min-width: 1400px) {
    .header {
        height: 97vh;
    }
    .body__other {
        height: 35vh;
    }
    .header-main {
        font-size: 6em;
        font-weight: bold;
        color: var(--white);
        text-shadow: rgb(0, 0, 0) 1px 0 10px;
    }
    .header-second  {
        font-size: .6em;
    }
    .btn {
        width: 250px;
        height: 30px;
        padding: 1.375em 2em;
        font-size: 1.375em;
        margin: 0.375em 0.125em;
    }
    .services{
        margin-left: 5%;
        margin-right: 5%;
    }
    .footer{
        padding: 4em 1em;
    }
    .footer__title{
        font-size: 3em;
        font-weight: 700;
    }
    .footer__text{
        font-size: 1.5em;
    }
    .about{
        font-family: 'Montserrat', sans-serif;
        margin-left: 10%;
        margin-right: 10%;
    }
    .reference__header{
        background: linear-gradient(0deg, rgba(49, 49, 49, 0.5), rgba(53, 52, 52, 0.5)),
                    url(../media/pageheader-1920w.webp);
        background-repeat: no-repeat;
        height: 20vh;
        background-size:  cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    .about{
        margin-top: 0em;
    }
    .references__header{
        margin-top: 0em;
    }
    .contact{
        margin-top: 0em;
    }
    .gallery{
        margin-top: 2em;
    }
    .gallery__medias {
        grid-template-columns: repeat(3, minmax(250px, 400px));
        grid-auto-rows: minmax(auto, 225px);
    }
    
}

@media (min-width: 1700px) {  
    .services{
        margin-left: 10%;
        margin-right: 10%;
    }
    .jumbotron-content{
        margin-left: 10%;
        margin-right: 10%;
    }
}



.btn:hover{
    background-color: var(--darkmain);
}

.jumbotron__button:hover{
    background-color: var(--darkmain);
}

.btn-footer:hover{
    background-color: var(--darkmain);
    color: var(--white);
    border: dashed;
    border-width: 2px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--main);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 6px 6px 2px 1px rgb(0 0 0 / 20%);
    transition: top 0.3s;
}




@media (min-width: 300px){
    .grid-right {
        grid-column: 2;
    }
    .column {
        grid-column: 2;
    }
    .grid-left {
        grid-column: 1;
    }
}





a.btn::after{
    margin-left: 10px;
    content: url(../media/icon/navigation/arrow_back_24px.svg);
}

  .services__btn {
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: var(--main);
    font-size: 16px;
    border: 1px dashed var(--main);
}





  .button:hover{
    background-color: var(--main);
  }







@media (max-width: 750px) {
    .button{
        width: 250/2px;
        height: 65/2px;
    }
}


.img_homepage{
    width: 100%;    
    height: 8.5em;
    object-fit: cover;
    margin: 0;
    padding: 0;
    margin-top: 2.5em;

}

.orange_font{
    color:var(--main);
}


.body__references {
    padding: 0 1em;
}

.reference-heading {
    text-align: center;
    padding-top: .5em;
    font-size: 1.3em;
}

.reference-text {
    padding-top: 0;
    text-align: center;
    font-size: .8em;
}





.column-left img{
    border-bottom-right-radius: 3em;
}

.column-right img{
    border-bottom-left-radius: 3em;
}


.services{
    padding: 2em 1em;
}

.service__button {
    text-align: left;
}

.service-button--center {
    padding-top: 3em;
    text-align: center;
}

.heading-color {
    color: var(--main);
}
.services__titles {
    padding-top: 1em;
    font-weight: 700;
    font-size: 1.4em;
}

.right-cor img {
    border-radius: 0 0 50px 0;
}

.column img {
    border-radius: 0 0 0 50px;
}


.about {
    padding: 3em 1em;
}

.about-ul {
    padding: 1em 2em;
}

.about-ul li {
    padding: .2em 0;
}

.references__titles{
    font-weight: 700;
}

.ul-vol2{
    margin-left: 3em;
}



.btn-footer{
    width: 80px;
    height: 18px;
    padding: 1.25em 1.875em;
    font-size: 1.25em;
    color: var(--main);
    background-color: var(--white);
    text-decoration: none;
    font-weight: 700;
    
}


.footer-button{
    margin-top: 5em;
}

.contact-phone::before{
    content: url("../media/local_phone_24px.svg");
}

.contact-email::before{
    content: url("../media/mail_24px.svg");
}

.contact-adress::before{
    content: url("../media/room_24px.svg");
}

