html, body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header{
    background: linear-gradient(0deg, rgba(49, 49, 49, 0.5), rgba(53, 52, 52, 0.5)),
                url(../media/pageheader-1920w.jpg);
    background-repeat: no-repeat;
    height: 35vh;
    background-size:  cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.box{
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    text-align: center;
    size: 80%;
}

.reference__header{
    background: linear-gradient(0deg, rgba(49, 49, 49, 0.5), rgba(53, 52, 52, 0.5)),
                url(../media/pageheader-1920w.jpg);
    background-repeat: no-repeat;
    height: 20vh;
    background-size:  cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}


@media (min-width: 20px) {
    .header{
        height: 40vh;
    }
}

@media (min-width: 1400px) {
    .header{
        height: 95vh;
    }
}

.jumbotron {
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%),
    url(../media/background-CTAblock-4460w.jpg);
    background-repeat: no-repeat;
    height: 30vh;
    background-size:  cover;
    background-position: center;
    padding: 0 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button {
    background-color: #df6400;
    width: 250px;
    height: 65px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
  }

  .services__button {
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #df6400;
    font-size: 16px;
    border: 1px dashed #df6400;
}

.jumbotron-text {
    color: white;
    font-size: 1.2em;
    font-style: bold;
    font-weight: 600;
    padding-right: 1em;
    
}

.jumbotron-content{
    margin-left: 5em ;
}


.jumbotron__button {
    background-color: #df6400;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 801px) {
    .services{
        margin-left: 15%;
        margin-right: 15%;
    }
    .services__header h2{
        font-size: 3em;
    }
}


  .button:hover{
    background-color: #bd5500;
  }

  @media (max-width: 1400px) {
    .header{
        height: 80vh;
    }
    .header_info h1{
        font-size: 4em;
    }
    .header_info h2{
        font-size: 2em;
    }
}

@media (max-width: 800px) {
    .header{
        height: 50vh;
    }
    .header_info h1{
        font-size: 2.3em;
    }
    .header_info h2{
        font-size: 1.3em;
    }
    .header_info{
        margin-top: 50%;
    }
    .button {
        display: none;
      }
    .services{
        margin-left: 5%;
        margin-right: 5%;
    }
    .services__header h2 {
        font-size: 1.5em;
    }
}





@media (max-width: 750px) {
    .button{
        width: 250/2px;
        height: 65/2px;
    }
}


.img_homepage{
    width: 100%;    
    height: 8.5em;
    object-fit: cover;
    margin: 0;
    padding: 0;
    margin-top: 2.5em;

}

.orange_font{
    color:#df6400;
}


.body__references {
    padding: 0 1em;
}

.reference-heading {
    text-align: center;
    padding-top: .5em;
    font-size: 1.3em;
}

.reference-text {
    padding-top: 0;
    text-align: center;
    font-size: .8em;
}

@media (min-width: 600px) {
    .body > main, .body__references {
        width: 85vw;
        margin: 0 auto;
    }
    .references {
        display: flex;
        gap: 1em;
        justify-content: center;
    }
    .reference-heading {
        font-size: 1em;
    }
    .reference-text {
        font-size: .7em;
    }
    .references__header {
        text-align: center;
        padding: 0 5em;
    }
}

@media (min-width: 1200px) {
    .references__header {
        text-align: center;
        padding: 0 10em;
    }
}

@media (min-width: 1600px) {
    .references__header {
        text-align: center;
        padding: 0 15em;
    }
}

.column-left img{
    border-bottom-right-radius: 3em;
}

.column-right img{
    border-bottom-left-radius: 3em;
}


.services{
    padding: 2em 1em;
}

.service__button {
    text-align: left;
}

.service-button--center {
    padding-top: 3em;
    text-align: center;
}

.heading-color {
    color: #df6400;
}
.services__titles {
    padding-top: 1em;
    font-weight: 700;
    font-size: 1.4em;
}

.right-cor img {
    border-radius: 0 0 50px 0;
}

.left-cor img {
    border-radius: 0 0 0 50px;
}

.img-rsp {
    display: block;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    padding-top: 2.5em;
}

.about {
    padding: 3em 1em;
}

.about-ul {
    padding: 1em 2em;
}

.about-ul li {
    padding: .2em 0;
}

ul li::marker {
    color: #df6400;
}



@media (min-width: 800px) {
    .services__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.3em;
        grid-auto-flow: dense;
    }
    .body__header {
        height: 65vh;
    }
    .fig-right {
        grid-column: 2;
    }
    .left-cor {
        grid-column: 2;
    }
    .fig-left {
        grid-column: 1;
    }
    .services__header{
        text-align: center;
    }
    .body__other {
        height: 35vh;
    }
    .other-text {
        padding-top: 0;
    }
    .img-rsp {
        padding-top: 2em;
    }
    .heading {
        font-size: 1.3em;
        padding-top: 1.5em;
    }
    .header-main {
        font-size: 2.8em;
    }
    .header-light  {
        font-size: .7em;
    }
    p {
        padding-top: .4em;
    }

}
.footer{

    background-color: #df6400;
    text-align: center;
    padding: 2em 1em;
    color: white;

}

.header-info {
    color: white;
    text-align: center;
    font-style: bold;
    font-size: 2em;
}

.header-info_second {
    color: white;
    font-weight: 200;
    font-size: 1em;
    padding-bottom: 1em;
}

.header-info h1{
    color: white;
    font-size: 10em;
}

.services__header{
    margin-bottom: 3em;
    margin-top: 3em;
}

